body {
  margin: 20px;
  background-color: #000;
  box-sizing: border-box;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.block {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #da5959;
}

.block__container {
  background-color: #308dc0;
  width: 350px;
  margin-bottom: 40px;
}

.block__inner {
  background-color: #ffa500;
}

.block__text {
  margin: 0;
  background-color: #ddd;
}
